<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minha App Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🚀 App rodando no OpenShift</h1>
        <p>Flask + Docker + OpenShift + Gunicorn</p>
        <button onclick="mostrarMensagem()">Testar</button>
    </div>

    <script>
        function mostrarMensagem() {
            alert("Funcionando perfeitamente 🎉");
        }
    </script>
</body>
</html>
